.footer{
    padding-block: 50px;
    .footer__box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer__info-titel{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: #000000;            
            padding-block-end: 12px;
        }

        .footer__info__text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            padding-block-end: 20px;
        }
        

        .nav__titel{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            padding-block-end: 10px;
        }

        .nav__list{
            *+*{
                padding-block-start: 5px;
            }
        }

        .nav__item{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 21px;
            .nav__link{
                color: #000000;
            }
        }

        .footer__info{
            max-width: 367px;
        }
    }
}