.container{
    $max-width: 1450px;
    $padding: 1rem;
    width: min($max-width, 100% - $padding);
    margin-inline: auto;
}


    /* SHADOW*/


    .blog-shadow{
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        transition: transform ease .5s, box-shadow ease .5s;
      }
      .blog-shadow:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
      }
    
      /* SHADOW*/

      /*main-btn*/

      .btn{
        padding: 10px 47px;
        border-radius: 35px;
        border: none;
        cursor: pointer;
      }

      .btn-style{
        background-color: hsla(7, 100%, 60%, 1);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: hsla(0, 0%, 100%, 1);
      }

      /*main-btn*/

      .welcom:is([data-second]){
        background-image: url(../images/welcom/secong-bg.jpg);
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
      }

      