/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: min(1450px, 100% - 1rem);
  margin-inline: auto;
}

/* SHADOW*/
.blog-shadow {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.blog-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

/* SHADOW*/
/*main-btn*/
.btn {
  padding: 10px 47px;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

.btn-style {
  background-color: hsl(7deg, 100%, 60%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}

/*main-btn*/
.welcom:is([data-second]) {
  background-image: url(../images/welcom/secong-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding-block: 15px;
}
.header .header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__box .header__nav .nav__list {
  display: flex;
  gap: 22px;
}
.header .header__box .header__nav .nav__list .nav__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
.header .header__box .nav__group {
  display: flex;
  gap: 11px;
}

.welcom {
  background-image: url(../images/welcom/Rectangle.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcom .welcom__box {
  -webkit-padding-before: 50px;
          padding-block-start: 50px;
}
.welcom .welcom__box .welcom__titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 51px;
  text-align: center;
  color: #000000;
  -webkit-padding-after: 14px;
          padding-block-end: 14px;
}
.welcom .welcom__box .welcom__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
  -webkit-padding-after: 22px;
          padding-block-end: 22px;
}
.welcom .welcom__box .flex__grup {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.sponsors {
  padding-block: 20px;
  background-color: hsl(0deg, 0%, 0%);
}

.sponsors__box {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-mask-image: linear-gradient(to right, hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
          mask-image: linear-gradient(to right, hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
}

.sponsors__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  min-width: 100%;
  -webkit-animation: scroll-x 30s linear infinite;
          animation: scroll-x 30s linear infinite;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}

@-webkit-keyframes scroll-x {
  from {
    transform: translateX 0;
  }
  to {
    transform: translateX(calc(-100% - 21px));
  }
}

@keyframes scroll-x {
  from {
    transform: translateX 0;
  }
  to {
    transform: translateX(calc(-100% - 21px));
  }
}
@-webkit-keyframes scroll-y {
  from {
    transform: translateY 0;
  }
  to {
    transform: translateY calc(-100% - 21px);
  }
}
@keyframes scroll-y {
  from {
    transform: translateY 0;
  }
  to {
    transform: translateY calc(-100% - 21px);
  }
}
.boots {
  padding-block: 50px 20px;
}
.boots .boots__titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  -webkit-padding-after: 17px;
          padding-block-end: 17px;
}
.boots .boots__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  -webkit-padding-after: 77px;
          padding-block-end: 77px;
}
.boots .flex-grup {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.boots .flex-grup .boots__card {
  display: grid;
  place-items: center;
}
.boots .flex-grup .boots__card > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.boots .flex-grup .boots__card .card__img {
  z-index: -1;
}
.boots .flex-grup .boots__card .card__titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

.rev {
  padding-block: 45px;
}
.rev .rev__box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.rev .rev__box .rev__info {
  max-width: 340px;
  align-self: center;
}
.rev .rev__box .rev__info .rev__titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  -webkit-padding-after: 21px;
          padding-block-end: 21px;
}
.rev .rev__box .rev__info .rev__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  -webkit-padding-after: 18px;
          padding-block-end: 18px;
}

.accesory {
  padding-block: 60px 100px;
}
.accesory .accesory__titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  -webkit-padding-after: 60px;
          padding-block-end: 60px;
}
.accesory .card__box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.accesory .card__box .product {
  max-width: 186px;
}
.accesory .card__box .product .product__content {
  -webkit-padding-after: 12px;
          padding-block-end: 12px;
}
.accesory .card__box .product .product__content .product__titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FF4A32;
  -webkit-padding-after: 3px;
          padding-block-end: 3px;
}
.accesory .card__box .product .product__content .product__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #373737;
}
.accesory .card__box .product .product__content .product__price span {
  color: #FF2121;
}

.feat {
  background-color: hsl(0deg, 0%, 0%);
  padding-block: 30px 50px;
}
.feat .container {
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-mask-image: linear-gradient(to right, hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
          mask-image: linear-gradient(to right, hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
}
.feat .feat__box {
  flex-shrink: 0;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
  display: flex;
  justify-content: center;
  gap: 70px;
  -webkit-animation: scroll-x 30s linear infinite;
          animation: scroll-x 30s linear infinite;
}
@keyframes scroll-x {
  from {
    transform: translateX 0;
  }
  to {
    transform: translateX(calc(-100% - 21px));
  }
}
@keyframes scroll-y {
  from {
    transform: translateY 0;
  }
  to {
    transform: translateY calc(-100% - 21px);
  }
}
.feat .feat__box .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
}
.feat .feat__box .product .product__img {
  -webkit-padding-after: 5px;
          padding-block-end: 5px;
}
.feat .feat__box .product .product__titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  -webkit-padding-after: 25px;
          padding-block-end: 25px;
}
.feat .feat__box .product .product__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  padding-block: 50px;
}
.footer .footer__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer__box .footer__info-titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  -webkit-padding-after: 12px;
          padding-block-end: 12px;
}
.footer .footer__box .footer__info__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
}
.footer .footer__box .nav__titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  -webkit-padding-after: 10px;
          padding-block-end: 10px;
}
.footer .footer__box .nav__list * + * {
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
}
.footer .footer__box .nav__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}
.footer .footer__box .nav__item .nav__link {
  color: #000000;
}
.footer .footer__box .footer__info {
  max-width: 367px;
}/*# sourceMappingURL=style.css.map */